<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="newCar.css" rel="stylesheet" />
  <title>Car Sales - Registrar Carro</title>
</head>
<body>
  <h1>Novo Carro</h1>
  <form action="/carros" method="POST" id="form-data">
    <label for="marca">Marca</label>
    <input type="text" name="marca" data-testid="marca" placeholder="marca"/><br />
    <label for="modelo">Modelo</label>
    <input type="text"  name="modelo" id="modelo" data-testid="modelo"/>
    <label for="ano">Ano</label>
    <input type="text"  name="ano" id="ano" data-testid="ano"/>
    <label for="placa'">Placa</label>
    <input type="text"  name="placa" id="placa" data-testid="placa"/>
    <label for="chassi">Chassi</label>
    <input type="text"  name="chassi" id="chassi" data-testid="chassi"/>
    <label for="renavam">Renavam</label>
    <input type="text"  name="Renavam" id="Renavam" data-testid="Renavam"  />
  </form>
    <button onclick="" type="submit" data-testid="btn-sub" >
      Adicionar
    </button>
</body>
<script></script>
</html>